
.custom-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: blue;
}

.custom-message {
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4,
            0 0 160px #03bcf4;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .custom-message {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
}

@media (max-width: 576px) {
    .custom-message {
        font-size: 1rem;
        letter-spacing: 0.5px;
        margin-bottom: 10px;
    }

    .custom-header {
        min-height: 5vh;
    }
}
