.navex-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
  }
  
  .navex-brand img {
    height: 3rem;
    background-color: blue;
    width: 100px;
  }
  
  @media (max-width: 768px) {
  
    .navex-brand img {
      height: 2rem;
    }
  }