{% load static %}
<script type="text/javascript" src="{% static 'product-filter.js' %}"></script>
			<h3 class="mb-4 border-bottom pb-1">Filters</h3>
			<!-- Price Filter -->
			<div class="card mb-4">
				<h6 class="card-header">Price</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">
						<input type="range" value="{{minMaxPrice.price__min}}" max={{minMaxPrice.price__max}} min={{minMaxPrice.price__min}} id="rangeInput" oninput="maxPrice.value=this.value" />
						<p>{{minMaxPrice.price__min}}-{{minMaxPrice.price__max}}</p>
					</li>
					<li class="list-group-item">
						Max: <input type="number" value="{{minMaxPrice.price__min}}" max={{minMaxPrice.price__max}} min={{minMaxPrice.price__min}} class="form-control" id="maxPrice" onkeyup="rangeInput.value=this.value" id="maxPrice" />
						<button id="priceFilterBtn" class="btn btn-info btn-sm mt-1">Filter</button>
					</li>
				</div>
			</div>
			<!-- Filter 1 -->
			<div class="card mb-4">
				<a href="{% url 'category-list' %}" class="card-header">
					<h6>Popular products</h6>
				</a>
				<div class="list-group list-group-flush">
					{% for cat in cats %}
					<li class="list-group-item">
						<a href="{% url 'category_detail' cat.category__id %}">
							<input class="filter-checkbox" data-filter="category" value="{{cat.category__id}}" type="checkbox" />&nbsp;
							{{cat.category__title}}
						</a>
					</li>
					{% endfor %}
				</div>
			</div>
			<!-- Filter 2 -->
			<div class="card mb-4">
				<a href="{% url 'category-list' %}" class="card-header">
					<h6>Categories</h6>
				</a>
				<div class="list-group list-group-flush">
					{% for cat in cats %}
					<li class="list-group-item">
						<a href="{% url 'category_detail' cat.category__id %}">
							<input class="filter-checkbox" data-filter="category" value="{{cat.category__id}}" type="checkbox" />&nbsp;
							{{cat.category__title}}
						</a>
					</li>
					{% endfor %}
				</div>
			</div>
			
			<!-- Filter 3 -->
			<div class="card mb-4">
				<a href="{% url 'brand-list' %}" class="card-header">Brands</a>
				<div class="list-group list-group-flush">
					{% for brand in brands %}
					<li class="list-group-item">
						<a href="{% url 'brand-product-list' brand.brand__id %}">{{ brand.brand__title }}</a>
						<input class="filter-checkbox" data-filter="brand" value="{{ brand.brand__id }}" type="checkbox" />&nbsp;
						{{ brand.brand__title }}
					</li>
					{% endfor %}
				</div>
			</div>
			
			<!-- Filter 3 -->
			<div class="card mb-4">
				<a href="{% url 'category-list' %}" class="card-header">
					<h6>On Demand</h6>
				</a>
				<div class="list-group list-group-flush">
					{% for cat in cats %}
					<li class="list-group-item">
						<a href="{% url 'category_detail' cat.category__id %}">
							<input class="filter-checkbox" data-filter="category" value="{{cat.category__id}}" type="checkbox" />&nbsp;
							{{cat.category__title}}
						</a>
					</li>
					{% endfor %}
				</div>
			</div>